body {
    background-color: #222; /* $grey9 */
    color: #fff;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;

    padding: 0;
    margin: 0;
    font-family: pressStart;
}

#screen canvas {

    width: 1024px;
    height: 512px;
    /* Hide the gap for font descenders. */
    display: block;

    /* disable scaling interpolation */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

@font-face {
    font-family: arcadeClassic;
    src: url(data/font/ARCADECLASSIC.ttf);
}

@font-face {
    font-family: pressStart;
    src: url(data/font/prstartk.ttf);
}

#scores {
    width: 1024px;
    height: 208px;
}

#screen {
    width: 1024px;
    height: 512px;
}

#log {
    height: 512px;
    overflow: hidden;
}

#log, #legend {
    margin-left: 1024px;
    min-width: 256px !important;
}

#log > .content {
    height: 100%;
    width: 100%;
    border: none;
    overflow: auto;
}

#log, #scores {
    font-family: "Helvetica Neue", Arial, Sans;
}

#legend {
    height: 208px;
}

#scores > .content > table {
    margin-left: auto;
    margin-right: auto;
}


#screen, #scores {
    float: left;
}

.content {
    padding: 10px;
}

#root {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#spaceInvadersContainer {

/*    margin-left: auto;
    margin-right: auto;*/
}

.shipContainer {
    text-align:center;
    display: none;
}

.shipContainer > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 64px;
}

.logo {
    display: block;
}

ul {
    list-style-type: none;
}

li {
    margin: 0 0 5px 0;
}

.completed {
    color: #EE1C25;
}

.recycled {
    color: #E6E6E6;
    font-style: italic;
}

.created {
    font-weight: bold;
}

.init {
    font-family: pressStart;
    font-size: 10px;
}