body {
    background-color: #222; /* $grey9 */
    color: #fff;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;

    padding: 0;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

#screen canvas {

    width: 1024px;
    height: 512px;
    /* Hide the gap for font descenders. */
    display: block;

    /* disable scaling interpolation */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

@font-face {
    font-family: arcadeClassic;
    src: url(data/font/ARCADECLASSIC.ttf);
}

@font-face {
    font-family: pressStart;
    src: url(data/font/prstartk.ttf);
}

#scores {
    width: 1024px;
    height: 208px;
}

#screen {
    width: 1024px;
    height: 512px;
}

#log {
    height: 512px;
}

#historyLog {
    overflow: hidden;
}

#log, #legend {
    margin-left: 1024px;
    min-width: 256px !important;
}

#log > .header {
    height: 20%;
    width: 100%;
}

#log > .content {
    height: 80%;
    width: 100%;
    border: none;
    overflow: auto;
}

#log, #scores, #legend {
    color: white;
    font-family: "Courier New", Courier, monospace;
}

#legend {
    height: 208px;
}

#scores > .content > table {
    margin-left: auto;
    margin-right: auto;
}


#screen, #scores {
    float: left;
}

.content {
    padding: 10px;
}

#root {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.shipContainer {
    text-align:center;
    display: none;
}

.shipContainer > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 64px;
}

.logo {
    display: block;
}

ul {
    list-style-type: none;
}

li {
    margin: 0 0 5px 0;
}

.completed {
    color: #0F0;
}

.recycled {
    color: #E6E6E6;
    font-style: italic;
}

.created {
    font-weight: bold;
}

.init {
    font-family: pressStart;
    font-size: 10px;
}

#realtimeStatus {
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    min-height: 20px;
}

.waiting {
    background-color: #666; /* $grey7 */
}

.connected {
    background-color: #0F0; /* $cyan */
    color: black;
    font-weight: bold;
}

.connecting {
    background-color: #444; /* $grey8 */
}

.disconnected {
    background-color: #ED1C24; /* $red */
}

#scoreboardTable {
    font-size: 110%;
}

#scoreboardTable > tbody > tr > td, #scoreboardTable > thead > tr > th {  
    padding: 5px 15px;
    text-align: center;
}

#scoreboardTable > tbody > tr > td:first-child, #scoreboardTable > thead > tr > th:first-child {  
    text-align: left;
}

#scoreboardTable > thead {
    display: table-header-group;
}

#mute {
    display: block;
    width: 32px;
    height: 32px;
}

#mute > img {
    width: 32px;
    height: 32px;
}

.hidden {
    display: none;
}

.header > .column {
    display: table-cell;
    vertical-align: middle;
    float: left;
    margin-left: 20px;
    line-height: 32px;
}

.header > .column > select {
    display: inline;
}