# Ignore login credentials
deploy.json
# Ignore debug build version of App
# Ignore 'local' build version of App
App-local.html
#IDE Files
.idea
.c9revisions
node_modules
.DS_Store
bower_components

App-debug.html
deploy/

#emacs files
*~