<!DOCTYPE html>
<html>
<head>
    <title>Space Invaders</title>


    <script type="text/javascript" src="https://rally1.rallydev.com/apps/2.0rc3/sdk-debug.js"></script>

    <script type="text/javascript">
        // I am keeping the extra , in there to simplify my code. If someone is actually using an old version of IE to make an app let me know.
        Rally.loadScripts(
                [
                      "bower_components/angular/angular.js",
                      "bower_components/jquery/dist/jquery.js",
                      "realtime/reconnecting-websocket.js",
                      "realtime/alm-realtime.js",
                      "game/ui.js",
                      "game/lib/melonJS-1.0.1.js",
                      "game/lib/plugins/debugPanel.js",
                      "game/js/point.js",
                      "game/js/game.js",
                      "game/js/resources.js",
                      "game/js/entities/labelEntity.js",
                      "game/js/entities/playerEntity.js",
                      "game/js/entities/shipEntity.js",
                      "game/js/entities/bulletEntity.js",
                      "game/js/entities/HUD.js",
                      "game/js/screens/title.js",
                      "game/js/screens/play.js",
                      "App.js",
                      "angularApp.js",
                      "RealTimeDataService.js",
                      "DataService.js",
                ],
        function() {
            Rally.launchApp('CustomApp', {
                name:"Space Invaders"
            });
        }, true);
    </script>

    <link rel="stylesheet" type="text/css" href="game/game.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
    <div style="display:none;" ng-controller="dataController" id="root">
    <h1>Space Invaders Blast Down for {{organizedData.initiative.Name}}</h1>
<!--     <h2>Features: </h2>
    <ul>
        <li ng-repeat="feature in organizedData.features">{{feature.feature.Name}}</li>
    </ul> -->
    <div id="spaceInvadersContainer">
        <div id="gameAndLog">
            <div id="screen"></div>
            <div id="gameLog">
                <div id="logToggle">
                    <div class="button selected" title="Yes">History</div>
                    <div class="button unselected">Realtime</div>
                </div>

                <h3>Ships Destroyed</h3>
                <ul id="historyLog">
                  <li ng-repeat="logItem in logItems">[{{logItem.date.getMonth() + 1}}/{{logItem.date.getDate()}} {{logItem.date.getHours()}}:{{logItem.date.getMinutes()}}:{{logItem.date.getSeconds()}}] - {{logItem.note}}</li>
                </ul>
                <ul id="realtimeLog">

                </ul>
            </div>
            <button type="button" id="completeFeature">Complete a feature</button>
        </div>
        <div id="shipKey">
            <fieldset>
                <legend>Legend:</legend>
                <div class="shipContainer">
                    Task
                    <br />
                    <img src="game/data/img/shipSmall.png">
                </div>
                <div class="shipContainer">
                    User Story / Defect
                    <img src="game/data/img/shipMedium.png">
                </div>
                <div class="shipContainer">
                    Feature
                    <br />
                    <img src="game/data/img/shipLarge.png">
                </div>
                <div class="shipContainer">
                    Initiative
                    <br />
                    <img src="game/data/img/shipSuper.png">
                </div>
            </fieldset>
        </div>
    </div>
</div>

</body>
</html>
