<!DOCTYPE html>
<html>
<head>
    <title>Space Invaders</title>


    <script type="text/javascript" src="https://rally1.rallydev.com/apps/2.0rc3/sdk-debug.js"></script>

    <script type="text/javascript">
        // I am keeping the extra , in there to simplify my code. If someone is actually using an old version of IE to make an app let me know.
        Rally.loadScripts(
                [
                      "moment.js",
                      "bower_components/angular/angular.js",
                      "bower_components/jquery/dist/jquery.js",
                      "realtime/reconnecting-websocket.js",
                      "realtime/alm-realtime.js",
                      "game/WsapiAggregator.js",
                      "game/RealtimeDataHandler.js",
                      "game/ui.js",
                      "game/lib/melonJS-1.0.1.js",
                      "game/lib/plugins/debugPanel.js",
                      "game/js/point.js",
                      "game/js/game.js",
                      "game/js/resources.js",
                      "game/js/entities/labelEntity.js",
                      "game/js/entities/playerEntity.js",
                      "game/js/entities/shipEntity.js",
                      "game/js/entities/bulletEntity.js",
                      "game/js/screens/victory.js",
                      "game/js/screens/title.js",
                      "game/js/screens/play.js",
                      "App.js",
                      "angularApp.js",
                      "RealTimeDataService.js",
                      "DataService.js",
                ],
        function() {
            Rally.launchApp('CustomApp', {
                name:"Space Invaders"
            });
        }, true);
    </script>

    <link rel="stylesheet" type="text/css" href="game/game.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
    <div style="display:none;" ng-controller="dataController" id="root">
    <div class="middle">
        <div id="spaceInvadersContainer">
            <div>
                <div id="scores">
                    <div class="content">
                        <table>
                            <tr>
                                <th>
                                    Team
                                </th>
                                <th ng-repeat="(teamName, teamInfo) in organizedData.scoreboard">
                                    {{teamName}}
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Score
                                </td>
                                <td class="dataColumn" ng-repeat="(teamName, teamInfo) in organizedData.scoreboard">
                                    {{teamInfo.score}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lives
                                </td>
                                <td class="dataColumn" ng-repeat="(teamName, teamInfo) in organizedData.scoreboard">
                                    {{teamInfo.lives}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="legend">
                    <div class="content">
                        <div class="shipContainer logo">
                            <img src="game/data/img/rally8bit.png">
                        </div>
                        <div class="shipContainer">
                            Space Invaders Blast Down
                            <br />
                            {{organizedData.initiative.Name}}
                        </div>
                        <div class="shipContainer">
                            Initiative
                            <br />
                            <img src="game/data/img/shipSuper.png">
                        </div>
                        <div class="shipContainer">
                            Feature
                            <br />
                            <img src="game/data/img/shipLarge.png">
                        </div>
                        <div class="shipContainer">
                            User Story / Defect
                            <img src="game/data/img/shipMedium.png">
                        </div>
                        <div class="shipContainer">
                            Task
                            <br />
                            <img src="game/data/img/shipSmall.png">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="screen">
                </div>
                <div id="log">
                    <div class="content">
                        <ul id="historyLog">
                          <li ng-repeat="logItem in logItems">[{{logItem.date}}] - {{logItem.note}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
