<!DOCTYPE html>
<html>
<head>
    <title>Blast Down Chart</title>


    <script type="text/javascript" src="https://rally1.rallydev.com/apps/2.0rc3/sdk-debug.js"></script>

    <script type="text/javascript">
        // I am keeping the extra , in there to simplify my code. If someone is actually using an old version of IE to make an app let me know.
        Rally.loadScripts(
                [
                      "moment.js",
                      "angular.js",
                      "jquery.js",
                      "game/WsapiAggregator.js",
                      "game/ui.js",
                      "game/lib/melonJS-1.0.1.js",
                      "game/lib/plugins/debugPanel.js",
                      "game/js/point.js",
                      "game/js/game.js",
                      "game/js/resources.js",
                      "game/js/PositionManager.js",
                      "game/js/ColorManager.js",
                      "game/js/entities/labelEntity.js",
                      "game/js/entities/rallyHunterEntity.js",
                      "game/js/entities/rallyShipEntity.js",
                      "game/js/entities/playerEntity.js",
                      "game/js/entities/shipEntity.js",
                      "game/js/entities/explosionEntity.js",
                      "game/js/entities/bulletEntity.js",
                      "game/js/screens/victory.js",
                      "game/js/screens/title.js",
                      "game/js/screens/play.js",
                      "App.js",
                      "angularApp.js",
                      "LookbackService.js",
                      "realtime/reconnecting-websocket.js",
                      "realtime/alm-realtime.js",
                      "realtime/RealtimeDataHandler.js",
                      "realtime/RealTimeDataService.js",
                      "game/GameEventHandler.js",
                      "DataService.js",
                ],
        function() {
            Rally.launchApp('CustomApp', {
                name:"Blast Down Chart"
            });
        }, true);
    </script>

    <link rel="stylesheet" type="text/css" href="game/game.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
    <div style="display:none;" ng-controller="dataController" id="root">
    <div class="middle">
        <div id="spaceInvadersContainer">
            <div>
                <div id="scores">
                    <div class="content">
                        <table id="scoreboardTable">
                            <thead>
                                <tr>
                                    <th>
                                        Team
                                    </th>
                                    <th ng-repeat="(teamName, teamInfo) in scoreboard" style="color: {{teamInfo.color}}">
                                        {{teamName}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Score
                                    </td>
                                    <td class="dataColumn" ng-repeat="(teamName, teamInfo) in scoreboard" style="color: {{teamInfo.color}}">
                                        {{teamInfo.points}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="legend">
                    <div class="content">
<!--                         <div class="shipContainer logo">
                            <img src="game/data/img/rally8bit.png">
                        </div> -->
                        <div class="shipContainer">
                            Initiative
                            <br />
                            <img src="game/data/img/new/super/superEnemy_white.png">
                        </div>
                        <div class="shipContainer">
                            Feature
                            <br />
                            <img src="game/data/img/new/large/largeEnemy_white.png">
                        </div>
                        <div class="shipContainer">
                            User Story
                            <img src="game/data/img/new/medium/mediumEnemy_white.png">
                        </div>
                        <div class="shipContainer">
                            Task
                            <br />
                            <img src="game/data/img/new/small/smallEnemy_white.png">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="screen">
                </div>
                
                <div id="log">
                    <div class="header">
                        <div id="realtimeStatus" class="{{realtimeStatus.toLowerCase()}}">
                            Realtime Status: {{realtimeStatus}}
                        </div>
                        <div id="playPause" class="column">
                            <img src="images/play.png" id="playIcon" class="hidden" alt="Play" title="Play Icon">
                            <img src="images/pause.png" id="pauseIcon" alt="Pause" title="Pause Icon">
                        </div> 
                        <div id="mute" class="column">
                            <img src="images/muteIcon.png" id="muteIcon" class="hidden" alt="Mute_Icon.svg" title="Mute icon">
                            <img src="images/speakerIcon.png" id="speakerIcon" alt="Speaker_Icon.svg" title="Unmute/speaker icon">
                        </div> 
                        <div class="column">Speed:
                            <select id="speed">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5" selected="selected">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="column">Filter Log:
                            <select ng-model="selectedOption" ng-change="setSelectedOption(selectedOption)" id="filterEvents">
                              <option value="">All</option>
                              <option value="created">Created</option>
                              <option value="completed">Completed</option>
                              <option value="recycled">Recycled</option>
                            </select>
                        </div>
                    </div>
                    <div class="content">
                        <ul id="historyLog">
                          <li ng-repeat="logItem in logItems | filter:filters" class="{{logItem.class}}">{{logItem.note}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
