<div style="display:none;" ng-controller="dataController" id="root">
    <div class="middle">
        <div id="spaceInvadersContainer">
            <div>
                <div id="scores">
                    <div class="content">
                        <table>
                            <tr>
                                <th>
                                    Team
                                </th>
                                <th ng-repeat="(teamName, teamInfo) in scoreboard">
                                    {{teamName}}
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Score
                                </td>
                                <td class="dataColumn" ng-repeat="(teamName, teamInfo) in scoreboard">
                                    {{teamInfo.points}}
                                </td>
                            </tr>
<!--                             <tr>
                                <td>
                                    Lives
                                </td>
                                <td class="dataColumn" ng-repeat="(teamName, teamInfo) in scoreboard">
                                    {{teamInfo.lives}}
                                </td>
                            </tr> -->
                        </table>
                    </div>
                </div>
                <div id="legend">
                    <div class="content">
                        <div class="shipContainer logo">
                            <img src="game/data/img/rally8bit.png">
                        </div>
                        <div class="shipContainer">
                            Space Invaders Blast Down
                            <br />
                            {{organizedData.initiative.Name}}
                        </div>
                        <div class="shipContainer">
                            Initiative
                            <br />
                            <img src="game/data/img/shipSuper.png">
                        </div>
                        <div class="shipContainer">
                            Feature
                            <br />
                            <img src="game/data/img/shipLarge.png">
                        </div>
                        <div class="shipContainer">
                            User Story / Defect
                            <img src="game/data/img/shipMedium.png">
                        </div>
                        <div class="shipContainer">
                            Task
                            <br />
                            <img src="game/data/img/shipSmall.png">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="screen">
                </div>
                <div id="log">
                    <div class="content">
                        <select ng-model="selectedOption" ng-change="setSelectedOption(selectedOption)" id="filterEvents">
                          <option value="">All</option>
                          <option value="created">Created</option>
                          <option value="completed">Completed</option>
                          <option value="recycled">Recycled</option>
                        </select>
                        <ul id="historyLog">
                          <li ng-repeat="logItem in logItems | filter:filters" class="{{logItem.class}}">[{{logItem.date}}] - {{logItem.note}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
