.app {
     /* Add app styles here */
}

.x-body {
    min-height: 720px; /* min 720p */
    min-width: 1280px;
    background-image: url('../game/data/img/new/blastDownBackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

td.dataColumn {
    text-align: center;
}

/*.x-mask {
    background: none !important;
}*/