<div style="display:none;" ng-controller="dataController" id="root">
    <div class="middle">
        <div id="spaceInvadersContainer">
            <div>
                <div id="scores">
                    <div class="content">
                        <table id="scoreboardTable">
                            <thead>
                                <tr>
                                    <th>
                                        Team
                                    </th>
                                    <th ng-repeat="(teamName, teamInfo) in scoreboard" style="color: {{teamInfo.color}}">
                                        {{teamName}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="dataColumnHeader">
                                        Points
                                    </td>
                                    <td class="dataColumnHeader hidden">
                                        Count
                                    </td>
                                    <td class="dataColumn" ng-repeat="(teamName, teamInfo) in scoreboard" style="color: {{teamInfo.color}}">
                                        {{teamInfo.points}}
                                    </td>
                                    <td class="dataColumn hidden" ng-repeat="(teamName, teamInfo) in scoreboard" style="color: {{teamInfo.color}}">
                                        {{teamInfo.completed}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="legend">
                    <div class="content">
                        <div class="shipContainer logo">
                            <img src="../game/data/img/new/blastDownBackground.png">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="screen">
                </div>
                
                <div id="log">
                    <div class="header">
                        <div id="realtimeStatus" class="{{realtimeStatus.toLowerCase()}}">
                            Realtime Status: {{realtimeStatus}}
                        </div>
                        <div id="controls" class="hidden">
                            <div id="playPause" class="column">
                                <img src="../images/play.png" id="playIcon" class="hidden" alt="Play" title="Play Icon">
                                <img src="../images/pause.png" id="pauseIcon" alt="Pause" title="Pause Icon">
                            </div> 
                            <div id="mute" class="column">
                                <img src="../images/muteIcon.png" id="muteIcon" class="hidden" alt="Mute_Icon.svg" title="Mute icon">
                                <img src="../images/speakerIcon.png" id="speakerIcon" alt="Speaker_Icon.svg" title="Unmute/speaker icon">
                            </div> 
                            <div class="column">Speed:
                                <select id="speed">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" selected="selected">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="column">Filter Log:
                                <select ng-model="selectedOption" ng-change="setSelectedOption(selectedOption)" id="filterEvents">
                                  <option value="">All</option>
                                  <option value="created">Created</option>
                                  <option value="completed">Completed</option>
                                  <option value="recycled">Recycled</option>
                                </select>
                            </div>
                            <div id="scoreboardToggle" class="column">
                                Score:
                                <div id="scoreByPoints" class="scoreboardToggleOption">by points</div>
                                <div id="scoreByCount" class="scoreboardToggleOption hidden">by count</div>
                            </div> 
                        </div>
                        <div id="howItWorksButton">How it Works</div>
                    </div>
                    <div class="content">
                        <ul id="historyLog">
                          <li ng-repeat="logItem in logItems | filter:filters" class="{{logItem.applyClass}}">{{logItem.note}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div id="howItWorks" class="hidden">
            <div id="popup">
                <div class="closePopup button">close</div>
                <img src="../game/data/img/new/blastDownBackground.png" alt="Blast Down Chart">
                <h1>How it Works</h1>
                <h2>What is it?</h2>
                <p>The Blast Down Cart is a Portfolio Item visualization for your data in Rally.  The Blast Down chart shows the enitre history of a Rally Initiative, and is a fun tool to reward your efforts in realtime.</p>
                <h2>How can we use it?</h2>
                <p>We suggest you use it in a few ways:
                    <ul list-style-type="square">
                        <li>To see the entire history of a completed work item</li>
                        <li>To display while teams work as part of a dashboard - as they complete work in Rally, it will be destroyed in the Blast Down Chart!</li>
                    </ul>
                </p>
                <h2>What do the aliens mean?</h2>
                <p>Each of the different types of alien ships represents a different piece of data in the Initiative you select.  If you ever wonder what an alien represents, just click on it - this will bring up a window with the information for that work item. The larger the alien, the larger the work item.  Here is the exact correlation:
                <div id="aboutLegend">
                    <div>Initiative<div class="aboutImage" id="initiativeImage"></div></div>
                    <hr />
                    <div>Feature<div class="aboutImage" id="featureImage"></div></div>
                    <hr />
                    <div>User Story<div class="aboutImage" id="storyImage"></div></div>
                    <hr />
                    <div>Task<div class="aboutImage" id="taskImage"></div></div>
                </div>
                </p>
                <p>The aliens on the screen are colored according to their realtionship - Features are assigned a color, and the stories or tasks that are parented to that feature in Rally are given the same color.
                </p>
                <h2>What do the ships mean?</h2>
                <p>The ships at the bottom represent the teams, and their colors correlate to the score in the scoreboard.</p>
                <h2>How does scoring work?</h2>
                <p>Scores are calcuated using story points for each story that is completed.  If a story has no points assigned, the team will get no points for completing it.  You can also switch the scoreboard to report scores in terms of the number of stories completed, if you prefer.</p>
                <h1>We hope you enjoy this new way to visualize your data in Rally!</h1>
                <div class="closePopup bottomCenter button">close</div>
            </div>
        </div>
        <div id="overlay" class="hidden"></div>